body {
    font-family: "Roboto", sans-serif;
}

section {
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #DAA520;
    border-radius: 0.6rem;
    padding: 2em;
}

h2 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: #333;
}

p {
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #000;
}

a {
    text-decoration: none;
    color: #fff;
}

#return-home-btn {
    background-color: #e3a725;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease, transform 0.2s ease;
    margin-top: 2rem;
}

#return-home-btn:hover {
    background-color: #b8860b;
    transform: scale(1.1);
}