.form-container {
    margin-top: 4rem;
    max-width: 80%;
    width: 50rem;
}

#reset-password-form {
    width: 100%;
}

.submit-btn {
    font-size: 1.7rem;
    height: 3rem;
    width: 10rem;
}