<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Matemasie&display=swap"
				rel="stylesheet">
	<link rel="stylesheet" href="/todo_styles.css">
	<title>To-Do List</title>
</head>
<body>
<h1>Your TO-DO List</h1>
<main>
	<button id="add-todo-btn"><img src="/add-btn.png" alt="add-btn"></button>
	<!-- TODO_ITEMS -->
</main>

<div id="popup-form" class="popup-form hidden">
	<div id="form-container">
		<h2 id="form-title"></h2>
		<form id="todo-form">
			<label for="summary">Summary:</label>
			<input type="text" id="summary" name="summary" placeholder="Enter Summary" maxlength="128" required>

			<label for="task">Task:</label>
			<textarea id="task" name="task" placeholder="Enter Task" maxlength="2048" required></textarea>

			<label for="due-time">Due Time (optional):</label>
			<input type="datetime-local" id="due-time" name="due-time">

			<button type="submit" id="submit-btn">Submit</button>
			<button type="button" id="close-btn">Close</button>
		</form>
	</div>
</div>
<div id="confirmation-popup" class="confirmation-popup hidden">
	<div id="confirmation-container">
		<p>Are you sure you want to mark this To-Do as completed? (It will be deleted afterward)</p>
		<div id="confirmation-buttons">
			<button id="confirm-complete-btn">Complete</button>
			<button id="cancel-complete-btn">Cancel</button>
		</div>
	</div>
</div>
<div id="success-popup" class="success-popup hidden"></div>
<div id="failure-popup" class="failure-popup hidden"></div>

<script src="/todo_script.js"></script>
</body>
</html>
